.App {
  width: 90%;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form

input, textarea { 
  width: 100%;
  font-size: 20px;
  border: 2px solid  #282c34; 
}

button { 
  width: 70%;
  height: 30px;
  background-color: #282c34;
  color: white;
  font-size: 20px 
}
